
@import './base.css';

@import 'element-plus/dist/index.css'; 
/* 
@import url('element-plus/dist/index.css'); 
控制台提示如下信息
[vite:css] @import must precede all other statements (besides @charset or empty @layer)
*/
/* @use '~element-plus/dist/index.css' as mat; */

html, body {
  height: 100%;
  width: 100%;
}

* {
  padding: 0;
  margin: 0;
}

ol, li, ul {
  list-style: none;
}

#app {
  height: 100%;
  width: 100%;
  font-weight: normal;
}

