

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}


@use './base.css';

/* @import url('element-plus/dist/index.css');  */
/* 
@import url('element-plus/dist/index.css'); 
控制台提示如下信息
[vite:css] @import must precede all other statements (besides @charset or empty @layer)
*/
@use 'element-plus/dist/index.css' as mat;