@import './var.scss';

@import './aside-menu.scss';

.column_page_container {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgb(4, 3, 51);
  // background-image: url("/img/web/index/bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .top_wrapper {
    height: $top-height;
    position: relative;
    // background-image: url("/img/web/index/indexTop.png");
    background-size: 100% 200%;
    background-repeat: no-repeat;
    padding: 0;

    // 一级菜单
    .menu_box {
      .menu__item {
        font-size: var(--font-large, 20px);
        height: calc($top-height / 2);
        line-height: calc($top-height / 2);
        // padding: 0 4px;
        cursor: pointer;
        text-align: center;
        background-size: 100% 100%;
      }

      &__left {
        .menu__item {
          // background-image: url("/img/web/index/leftTag.png");
          background-color: #1b55b3;
          line-height: 65px;
          height: 100%;
          flex: 0 0 33.3%;
          &.is-active {
            background-color: #0c7b8a;
            // background-image: url("/img/web/index/leftTagActive.png");
          }
        }
      }

      &__right {
        .menu__item {
          background-color: #1b55b3;
          line-height: 65px;
          height: 100%;
          flex: 0 0 33.3%;
          // background-image: url("/img/web/index/rightTag.png");
          &.is-active {
            background-color: #0c7b8a;
            // background-image: url("/img/web/index/rightTagActive.png");
          }
        }
      }
    }

    .top_center {
      width: 33%;
    }

  }

  // 侧边栏 菜单。目前框架布局菜单样式一样。如果后期变动请自定义
  @include aside_menu;

  // tab页签栏
  .tab_wrapper {
    height: $tab-height;
    line-height: $tab-height;
    padding-right: 0;

    // .tabs__box {
    // }
    .tabs-menu {
      position: relative;
      width: 100%;

      .tab_extra_wrapper {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: $tab-extra-width;
        gap: 12px;
        justify-content: flex-end;
      }

      // tab action
      .tab_actions {
        height: 100%;
        display: inline-flex;
        align-items: center;

        .more_btn {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 28px;
          font-size: var(--default-font-size, 14px);
          cursor: pointer;
          transition: all 0.3s;
          background: url(/img/moreBtn.7c11457a.png) no-repeat;
          background-size: 100% 100%;

          .iconfont {
            font-size: 12.5px;
          }
        }
      }

      // user-info
      .user_info_wrapper {
        position: relative;
        overflow: hidden;

        .el-dropdown {
          width: 100%;
        }

        .avatar {
          cursor: pointer;
          width: 100%;
          height: 100%;
          gap: 4px;
        }

        .user_name {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      // logout icon
      .logout_wrapper {
        cursor: pointer;

        img {
          vertical-align: middle;
        }
      }

      .el-tabs {
        .el-tabs__header {
          box-sizing: border-box;
          height: 40px;
          // padding: 0 10px;
          margin: 0;
          // border-bottom: none;

          .el-tabs__nav-wrap {
            position: absolute;
            width: calc(100% - var(--tab-extra-width));

            .el-tabs__nav {
              display: flex;
              border: none;

              .el-tabs__item {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #afafaf;
                border: none;

                .tabs-icon {
                  margin: 1.5px 4px 0 0;
                  font-size: 15px;
                }

                .is-icon-close {
                  margin-top: 1px;
                }

                &.is-active {
                  color: var(--el-color-primary);

                  &::before {
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 0;
                    content: '';
                    border-bottom: 2px solid var(--el-color-primary) !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .main_body {
    padding-right: 12px;
    // 视图 容器
    #main {
      // margin-top: -3px;
      // width: 100%;
      // height: calc(100% - 31px);
      // padding: 40px 20px 40px 40px !important;
      color: #fff;
      overflow: hidden;
      position: relative;
      // background: url('/img/web/index/bgWrap.png') no-repeat 0% 0%;
      background-size: 100% 100%;
    }
  }
}