// 默认间距
$default-gap: 12px;
// 头部高度
$top-height: 80px;
// 头部 padding
$top-header-padding: 12px;

// logo 的宽度
$logo-width: 480px;
// logo图片宽
$logo-img-width: 100px;
// logo字体大小
$logo-text-font-size: 32px;

// toolbar 的宽度
$toolbar-width: 450px;

// tab栏 高度
$tab-height: 50px;
// tab栏 extra 宽度
$tab-extra-width: 240px;
